<!DOCTYPE html> <!-- Code pour creer une page d'authentification pour un acces different suivant user -->
<html lang="fr">
<head>
    <meta charset="UTF-8"> <!--  Pour indiquer la plage de caractere comprise par le navigateur  -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0"> <!-- pour s'adapter à la taille des ecrans -->
    <title>Monitoring</title> <!-- dans l onglet du navigateur -->
</head>


<body> <!-- partie visible -->
        <h1>Monitoring</h1>
        
</body>
</html>